<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/a.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/container.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />

</head>

<body>
    <div class="root">
        <div class="container">
            <h1 class="title">TWEET PICKER</h1>
            <form method="POST">
                <div class="form-box">
                    <img src=<%= src %>>
                    <input class="form-input" name="url" type="url" inputmode="url" placeholder="https://twitter.com" />
                    <button class="form-submit" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>