<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/a.css" />
  </head>

  <body>
    <div class="root">
      <form method="POST">
        <div class="box">
          <div class="box-header">
            <img src=<%= src %>>
          </div>
          <div class="box-body">
            <div class="controlBox">
              <label for=fontSize>폰트 크기</label>
              <input id="fontSize" name="font" type="range" min="10" value="<%= fontSize %>" max="70" />
            </div>
            <div class="controlBox">
              <label>가로 사이즈</label>
              <input id="font" type="range" min="10" max="70" />
            </div>
            <div class="controlBox">
              <label>세로 사이즈</label>
              <input id="font" type="range" min="10" max="70" />
            </div>
            <div class="controlBox">
              <label>외곽선 두께</label>
              <input id="font" type="range" min="10" max="70" />
            </div>
            <div class="controlBox">
              <label>텍스트</label>
              <input id="font" type="text" min="10" max="70" />
            </div>
          </div>
          <div class="box-footer">
            <button action="submit" class="select">
              적용
            </button>
            <button action="submit" class="download">
              <i class="fas fa-file-download"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
